################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstatePlatform-API/RealEstatePlatform-API/Repositories/Implementations/PropertyRepository.cs
